
*{
    font-family: "Raleway", sans-serif;
}
    
.hero {

    background-image: url("../img/a43422a6698359a74c82beb5b5e468d0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100vh;


}


.destacados{

    background-color:black;
    padding: 100px;
    
}


.formulario{
    
    background-color: black;

}

.form{
    padding: 5px;
}

.btn-info {
    background-color: #0ecef6; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    border: none; /* Sin borde */

    }


.quienessomos{

    padding:100px;
    background-color: black;

}

footer{

    background-color: #0ecef6;
    padding:10px

}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover; 

}

.navbar {
    
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    opacity: 1; 
    

    }

.card * {
    background-color: #0ecef6;
    padding: 0;
    display: inline-block;
    border: none;


    }

    .card-header * {
    background-color: #0ecef6;
    padding-inline: 15px;
    display: inline-block;


    }

.card1 {
    background-color: black;
}

.list-group-item {
    background-color: black;
}