
*{
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}
    
.hero {
    height: 100vh;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
}


.destacados{

    background-color:black;
    padding: 100px;
    
}


.formulario{
    
    background-color: black;

}

.form{
    padding: 5px;
}

.btn-info {
    background-color: #0ecef6; 
    color: white;
    border: none; 

    }


.quienessomos{

    padding:100px;
    background-color: black;

}

footer{

    background-color: #0ecef6;
    padding:10px

}

.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover; 

}

.navbar {
    
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    opacity: 1; 
    

    }

.card * {
    background-color: #0ecef6;
    padding: 0;
    display: inline-block;
    border: none;


    }

    .card-header * {
    background-color: #0ecef6;
    padding-inline: 15px;
    display: inline-block;


    }

.list-group-item * {
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    opacity: 1; 
}